%h1 Empreintes

- @oeuvres.each do |oeuvre|
  .oeuvre
    .nom= oeuvre.nom
    .artiste= "Une oeuvre de #{oeuvre.artiste}"
    .description= oeuvre.description
    .photo= image_tag(oeuvre.photo, size: 300) if oeuvre.photo.attached?

