= form_with model: @oeuvre do |f|
  .nom
    = f.label :nom
    = f.text_field :nom
  .artiste
    = f.label :artiste
    = f.text_field :artiste
  .description
    = f.label :description
    = f.text_area :description
  .residence_annee
    = f.number_field :residence_annee
  .photo
    = f.file_field :photo
  .buttons
    = f.submit

